@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@font-face {
  font-family: 'century-gothic';
  src:
    local('century-gothic'),
    url('../public/fonts/CenturyGothic.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'century-gothic';
  src:
    local('century-gothic-bold'),
    url('../public/fonts/CenturyGothic-Bold.ttf') format('truetype');
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

.grecaptcha-badge { 
  visibility: hidden !important;
}
